.App {
  text-align: center;
}

h3 {
  margin: 5px;
}
h4 {

}
h5{
  font-weight: normal;
}

.navbar {
  width: 90%;
  height: 75px;
  padding: 0px 5%;
  background-color: whitesmoke;

  border-bottom: 1px solid whitesmoke;
  box-shadow: 0px 0px 6px 2px rgb(0,0,0,0.2);

  position:fixed;
  display: flex;
  align-items: center;
}

.navbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul, li {
  display: flex;
  grid-gap: 100px;
  list-style-type: none;
}

.body {
  padding-top: 85px;
}

.presentacion {
  margin-top: 30px;
}

img {
  
  width: 200px;
  height: 100px;
}

.howto {
  margin: 16px 0px;

  display: grid;
  grid-gap: 5px;
  justify-items: center; 
}

.howto-text {
  margin-left: 25px;
  justify-self: start;

}

.bottom {
  width: 93%;
  max-width: 720px;

  display: flex;
  justify-content: center;
  gap: 15px;
}


button {
  width: 30;
  padding: 10px;
  margin: 10px;

  color: black; 
  background-color: white; 
  border: 2px solid #239bc3;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgb(0,0,0,0.2);

  border-color: salmon;
}

button:hover {
  cursor: pointer;
  color: white;

  transition: all 0.3s;
  background-color: salmon;
}
