.App {
  text-align: center;
}

h3 {
  margin: 5px;
}
h4 {

}
h5{
  font-weight: normal;
}

.navbar {
  width: 90%;
  height: 75px;
  padding: 0px 5%;
  background-color: whitesmoke;

  border-bottom: 1px solid whitesmoke;
  box-shadow: 0px 0px 6px 2px rgb(0,0,0,0.2);

  position:fixed;
  display: flex;
  align-items: center;
}

.navbar-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul, li {
  display: flex;
  grid-gap: 100px;
  list-style-type: none;
}

.body {
  padding-top: 85px;
}

.presentacion {
  margin-top: 30px;
}

img {
  
  width: 200px;
  height: 100px;
}

.howto {
  display: grid;
  grid-gap: 15px;
  justify-items: center; 
}

.bottom {
  display: flex;
  justify-content: center;
  width: 93%;
  max-width: 720px;

  gap: 15px;
}

